RewriteEngine On
# change the next to your path
RewriteBase /eratasks/Blog/Blog-App/public
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]